
<style type="text/css">
* {
    margin: 0;
    padding: 0;
    color: #333;
}

ul {
    list-style: none;
}
li {
    padding: 15px 5px 15px 10px;
    line-height: 2em;
    font-size: 15px;
    position: relative;
}

li:nth-child(2n-1) {
    background-color: #f0f0f0;
}

.title {
    padding-bottom: 2px;
    border-bottom: 1px solid #888;
}
.fractionation {
    font-size: 10px;
    line-height: 2.5em;
    margin: 0 10px;
    padding: 2px;
    background-color: #FDB5B5;
    -webkit-border-radius: 5px;
            border-radius: 5px;

}
.howtodispose {

}
.info {

}

</style>

<p>
検索
<input v-model="search">
</p>

<ul>
    <li v-for="message in messages  | filterBy search in 'title' ">
        <p>
            <span class="title">{{ message.title }}</span>
            <span class="fractionation">{{ message.fractionation }}</span>
        </p>
        <span class="howtodispose">{{ message.howtodispose }}</span>
        <span class="info">{{ message.info }}</span>
    </li>
</ul>


<p id="json" style="display:none"><% include json %></p>



